{# 继承base.html 模板 #}
{% extends 'base.html' %}
{# 加载 静态文件#}
{% load staticfiles %}
{# 页面标题 #}
{% block tittle %}
    首页
{% endblock %}
{# css 文件#}
{% block head_extand %}
    <script src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
    <link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}
{# 设置导航栏激活效果 #}
{% block nav_home_active %}active{% endblock %}
{# 页面内容 #}
{% block content %}
    <p class="home-content">
        欢迎访问！！！
        <div class="hot_blog">
            <h3>今日热门点击</h3>
            <ul>
                {% for hot_blog_detail in hot_read_data %}
                    <li><a href="{% url 'blog_detail' hot_blog_detail.object_id %}">{{ hot_blog_detail.content_object.tittle }}(今日阅读量：{{ hot_blog_detail.read_num }})</a></li>
                {% empty %}
                    今日暂无热门文章
                {% endfor %}
            </ul>
        </div>

        <div class="hot_blog">
                <h3>昨日热门点击</h3>
                <ul>
                    {% for yestoday_hot_blog_detail in yestoday_hot_read_data %}
                        <li><a href="{% url 'blog_detail' yestoday_hot_blog_detail.object_id %}">{{ yestoday_hot_blog_detail.content_object.tittle }}(昨日阅读量：{{ yestoday_hot_blog_detail.read_num }})</a></li>
                    {% empty %}
                        昨日无热门文章
                    {% endfor %}
                </ul>
        </div>

        <div class="hot_blog">
                <h3>七天热门点击</h3>
                <ul>
                    {% for hot_blog in sevendays_hot_read_data %}
{#                       注意： 这里的hot_blog.pk hot_blog.read_num_sum 取的都是分组聚合里面的#}
                        <li><a href="{% url 'blog_detail' hot_blog.pk %}">{{ hot_blog.tittle }}(昨日阅读量：{{ hot_blog.read_num_sum }})</a></li>
                    {% empty %}
                        近七天暂无热门文章
                    {% endfor %}
                </ul>
        </div>

        <div id="container" ></div>
         <script>
        // 图表配置
            var options = {
                chart: {
                    type: 'line'                          //指定图表的类型，默认是折线图（line）
                },
                title: {
                        text: null                 // 标题
                },
                xAxis: {
                    categories: {{ dates|safe }},   // x 轴分类
                    tickmarkPlacement:'on',
                    title: {
                        text: '近七天阅读曲线'                 // 标题
                    },
                },
                yAxis: {
                    title: {
                        text: null                // y 轴标题
                    },
                    labels:{enabled:false},
                    gridLineDashStyle:'Dash'
                },
                plotOptions: {
                    line: {
                        dataLabels: {
                            enabled: true
                        }
                    }
                },
                series: [{                              // 数据列
                    name: '阅读量',                        // 数据列名
                    data: {{ sever_read_date }}                     // 数据
                }],
                legend:{enabled:false},
                credits:{enabled:false},
            };
            // 图表初始化函数
            var chart = Highcharts.chart('container', options);
        </script>
    </p>

{% endblock %}