/* 去掉浏览器默认的样式 */
*{
    margin: 0;
    padding: 0;
}
/* 强制使用本样式*/
body{
    margin-top: 80px!important;
}
/*导航样式*/
div.nav{
    background-color: #24292e;
}

div.nav a{
    text-decoration: none;
    color: rgba(255,255,255,0.75);
    margin: 5px;
    padding: 10px;
}
div.nav a.logo{
    display: inline-block;
    font-size: 120%;
}
