{# 继承base.html 模板 #}
{% extends 'base.html' %}
{% load staticfiles %}
{% block head_extand %}
    <link rel="stylesheet" href="{% static 'blog.css' %}">
{% endblock %}
{# 页面标题 #}
{% block tittle %}
    首页
{% endblock %}
{# 设置导航栏激活效果 #}
{% block nav_blog_active %}active{% endblock %}
{# 页面内容 #}
{% block content %}
    <div class="container">
        <div class="row">
        {#   两个内部组件长度为12         #}
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
{# 博客列表页开始 #}
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">{% block blog_list_tittle %}博客列表(共有博文{{ page_of_blog.paginator.count }}篇){% endblock %}</h3>
                  </div>
                  <div class="panel-body">
                        {% for blog in page_of_blog.object_list %}
                            <div class="blog">
                                {# 使用名称以后，防止地址变动时必须要跟着变,使用Pycharm设置添加支持Django,以下内容都有提示 #}
                                <h3><a href="{% url 'blog_detail' blog.pk %}">{{ blog.tittle }}</a></h3>
                                <p class="blog-info">
                                  <span class="glyphicon glyphicon-user" aria-hidden="true"></span>：{{ blog.author }}
                                  <span class="glyphicon glyphicon-time" aria-hidden="true"></span>：{{ blog.created_time|date:"Y-m-d" }}
                                  <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>：<a href="{% url 'blog_with_type' blog.blogtype.pk %}">{{ blog.blogtype }}</a>
                                </p>
                                {# 长文本截取:建议大家这里truncatechars改用truncatechars_html，因为truncatechars可能会有因html截取不全导致html错乱问题       #}
                                <p>{{ blog.content|truncatechars_html:50 }}</p>
                            </div>
                        {% empty %}
                            <div class="blog">
                                <h3>暂无博客</h3>
                            </div>
                        {% endfor %}
                  </div>
                </div>
{# 分页栏开始 #}
                <div>
                    <ul class="pagination">
{#                    上一页#}
                        <li>
                            {% if page_of_blog.has_previous %}
                                <a href="?page={{ page_of_blog.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            {% else %}
                                <span aria-hidden="true">&laquo;</span>
                            {% endif %}
                        </li>
{#                    全部页码#}
                        {% for page_num in page_range %}
                            {% if page_num == page_of_blog.number %}
                                <li class="active"><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                            {% else %}
                                {% if page_num == '...' %}
                                    <li><span>{{ page_num }}</span></li>
                                {% else %}
                                    <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
{#                    下一页#}
                        <li>
                         {% if page_of_blog.has_next %}
                                <a href="?page={{ page_of_blog.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            {% else %}
                                <span aria-hidden="true">&raquo;</span>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="hidden-xs col-sm-4 col-md-3 col-lg-2">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">博客分类</h3>
                  </div>
                  <div class="panel-body">
                        <ul class="blog_type">
                            {% for blogtype in blogtypes %}
                                <li><a href="{% url 'blog_with_type' blogtype.pk %}">{{ blogtype.typename }}</a></li>
                            {% empty %}
                                <p>-- 暂无分类 --</p>
                            {% endfor %}
                        </ul>
                  </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
